.farmer_profile_main_box {
  /* color: white !important; */
}
.ant-tabs-tab {
  color: #808a8e !important;
}
.ant-tabs-tabpane {
  color: white !important;
}
.farmer_profile_main_box label {
  color: white !important;
}
.feedback-form .ant-upload-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.feedback-form div {
  color: white !important;
  text-align: left;
  font-size: medium;
}

.dark label {
  color: white !important;
}
.light label {
  color: black !important;
}
